# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
.deps
.libs
autom4te.cache
build
run-tests.php
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
/tmp
